@font-face {
font-family: "Roboto";
src: url(../Roboto-Italic-VariableFont_wdth,wght.ttf)
}

:root {
    --main-bg-color: #171717;
    --content-bg-color: #202020;
    --element-active-color: #ff77c0;
    --content-text-color: #FFCBDD;
}

:root {
scrollbar-color: var(--content-bg-color))
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--main-bg-color);
}

#content {
    margin: 0 auto;
    background-color: var(--content-bg-color);
    width: 800px;
    padding: 15px;
}

#content > img {
    width: 500px;
}

#content > h2 {
    color: var(--element-active-color);
    font-size: 30pt;
    font-family: 'Roboto';
}