@font-face {
font-family: "Roboto";
}

:root {
    --main-bg-color: #FFFFFF;
    --content-bg-color: #202020;
    --element-active-color: #FFCBDD;
    --content-text-color: #FFF;
    --font-google:'Roboto';
}

:root {
    scrollbar-color: var(--content-bg-color) var(--main-bg-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-google);
}

body {
    background-color: var(--main-bg-color);
}

main, nav{
    margin: 15px auto;
    background-color: var(--content-bg-color);
    width: 800px;
    padding: 15px;
}

nav > a {
    color: var(--content-text-color);
    text-decoration: none;
    font-size: 20pt;
}

.content > img {
    width: 500px;
}

main > h2 {
    color: var(--content-text-color);
    font-size: 30pt;
}

.content > h2 {
    color: var(--content-text-color);
    font-size: 20pt;
}

.banner {
    color: var(--content-text-color);
    background-color: var(--main-bg-color);
    padding: 15px;
}

.post-card {
    background-color: var(--main-bg-color);
    padding:15px;
    margin: 10px auto;
    color: var(--content-text-color)
}

.post-card-title, .post-card-detail {
    color: var(--content-text-color);
}

.post-card-title {
    color: var(--element-active-color);
    font-size: 30pt;
}
.content > form > div {
    display: flex;
    flex-direction: colum;
}

.content > form > div > input, textarea, form > input {
    background-color: var(--main-bg-color);
    color: var(--element-active-color)
    border: none;
    padding: 5px;
    font-size: 30px
}

.content > form > input {
    margin: 10px auto;
}

.content > label {
    color: var(--content-text-color)
}

.content > form {
font-size: 30px;
color: red;
}